*.exe
*.obj
*.out
*.compile
*.native
*.byte
*.cmo
*.annot
*.cmi
*.cmx
*.cmt
*.cmti
*.cma
*.a
*.cmxa
*.obj
*~
*.annot
*.cmj
*.bak
lib/bs
*.mlast
*.mliast
.vscode
.merlin
.bsb.lock
/node_modules/
graphql_schema.json
bun.lockb
/lib/
.env

# RUST / WASM
/target
**/*.rs.bk
Cargo.lock
bin/
pkg/
target/
wasm-pack.log


bun.lockb
dist/
